<h1>Angular App</h1>
<!--Step 3.5: Now that we've added the new courses component to the app.module.ts file, we can use it in our html. -->
<!-- Step 3.26: Adding authors component to app.component.html -->
<!-- <courses></courses> -->
<!-- <authors></authors> -->
<!-- Step 5.2: Changing casing of variable from isFavorite to is-favorite to use an alias identifier -->
<!-- <favorite [isFavorite]='isFavorite'></favorite> -->
<!-- Step 5.3: (Output) Adding a change method to be called in the favorites component to notify when changed. (change)="onFavoriteChanged()" -->
<!-- Step 5.4: Passing data when we trigger an event which will be available to subscribers. We add the $event keyword - in this case since this is not a standard event object, but since this is a custom component, the $event keyword is anything we pass to the event -->
<!-- <favorite [isFavorite]='isFavorite' (change)="onFavoriteChanged($event)"></favorite> -->

<!-- <directives></directives> -->

<!-- Step 9.1.3: Adding posts page to html -->
<posts></posts>